<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        {% for contact in site.data.settings.contacts %}
          <h4>{{ contact.name }}</h4>
          {{ contact.title }} | {{ contact.department }}<br>
          {{ contact.institution }}<br>
          Office: {{ contact.office }}<br><br>
          Email: {{ contact.email }}<br>
        {% endfor %}
      </div>
      <div class="col-md-6">
        <h4>External links</h4>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}"><i class="{{ item.icon }}"></i> {{ item.text }}</a><br>
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>
